.awesome {
  padding: 60px 0 116px;
}
.about {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.about-item {
  width: 350px;
  margin: 0 15px;
}
.item-img {
  width: 4.375rem;
  height: 4.375rem;
  border-radius: 50%;
  border: 1px solid rgb(231, 36, 36);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin: 0 auto 30px;
}

.item-title {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 2.0625rem;
  text-align: center;
  color: #000000;
  margin: 0 auto 16px;
}
.item-text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1.1875rem;
  text-align: center;
  color: #000000;
}
.item-img {
  color: rgb(231, 36, 36);
  font-size: 1.875rem;
  transition: 0.3s;
}
.item-img:hover {
  transform: scale(1.1);
}
