header {
  background-color: rgb(0, 0, 0);
  padding: 20px 0px;
}
.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1170px;
  margin: auto;
  padding: 0 15px;
}
.header-logo {
  font-family: Raleway;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0em;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}
.header-logo::after {
  content: "It";
  text-transform: uppercase;
  font-family: Roboto;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0em;
  color: rgb(236, 121, 121);
  margin-left: -5px;
}
.header-nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 5px 0 5px 15px;
  padding-inline-start: 0px;
}
.nav-link {
  margin-left: 48px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  border-bottom: 3px solid rgb(0, 0, 0);
  border-left: 3px solid rgb(0, 0, 0);
  color: rgba(255, 255, 255, 0.7);
  padding: 0 0 5px 5px;
}
.nav-link__first {
  margin-left: 0px;
}
.nav-link:hover {
  border-bottom: 3px solid rgb(231, 36, 36);
  border-left: 3px solid rgb(231, 36, 36);
  margin-left: 48px;
  transition: 0.3s;
}
.nav-link__first:hover {
  margin-left: 0px;
}
