.price {
  background-color: #f5f5f5;
  padding: 80px 0 60px;
}
.tarif {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.tarif-list {
  padding-inline-start: 0px;
}
.price-list-item {
  min-width: 340px;
  background: #ffffff;
  margin: 0 15px 4px;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
  background: #ffffff;
  color: #86878b;
  margin: 0 15px 4px;
}
.price-list-item:first-child {
  background: #333333;
  margin: 0 15px 1px;
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  text-align: center;
  color: #ffffff;
}
.price-list-item:nth-child(2) {
  background: #333333;
  height: 100px;
  margin: 0 15px 2px;
  font-family: Raleway;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 100px;
  text-align: center;
  color: #ffffff;
}
.price-list-item:nth-child(3) {
  background: #333333;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 50px;
  text-align: center;
  color: #ffffff80;
}
.price-list-item:last-child {
  margin: 0 15px 0px;
}
