@import url("../css/about.css");

* {
  margin: 0;
  padding: 0 15px;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}
.title {
  margin: auto;
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #000000;
  margin: 0 0 57px;
}
